Django==2.2.24
Markdown==2.2.1
MySQL-python==1.2.3
Pillow==2.0.0
PyYAML==3.10
Pygments==1.6
amqp==1.0.13
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.34
boto==2.15.0
celery==3.0.24
chardet==2.0.1
cl==0.0.3
defer==1.0.6
distribute==0.6.34
dj-database-url==0.2.2
django-celery==3.0.23
django-picklefield==0.2.1
docutils==0.10
kombu==2.5.16
lxkeymap==0.1
lxml==3.1.0
mailer==0.7
pycups==1.9.62
pycurl==7.19.0
pygobject==3.8.0
pyparsing==1.5.7
pysmbc==1.0.13
pysqlite==2.6.3
python-apt==0.8.8ubuntu6
python-dateutil==2.2
python-debian==0.1.21-nmu2ubuntu1
python-memcached==1.48
pytz==2013.7
pyxdg==0.25
requests==1.1.0
roman==1.4.0
setuptools-git==1.0b1
six==1.4.1
ssh-import-id==3.14
textile==2.1.5
urllib3==1.5
virtualenv==1.9.1
wsgiref==0.1.2
